<h1>Editing Grade</h1>

<%= form_for([@assignment,@student, @grade], :url => gbook_student_assignment_grade_path) do |f| %>
  <p> <%= f.text_field :score, placeholder: "0" %> <%= " out of " + @assignment.point_total.to_s %> </p>
  <%= f.submit %>
<% end %>


